body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    padding: 20px 0;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.title {
    margin: 0;
    font-size: 2rem;
}

.theme-toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: inherit;
    transition: transform 0.3s;
}

.theme-toggle:hover {
    transform: scale(1.2);
}

.main {
    padding: 20px 0;
}

.links-list {
    list-style: none;
    padding: 0;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s, transform 0.2s;
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.link i {
    margin-right: 10px;
    font-size: 1.5rem;
}

.link:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}